.left {
    width:30%;
    height: 100%;
    
    

}


.right{
    width:40%;
    height: 100%;
    align-items: center;

}

.class2{

vertical-align: middle;

}
.container1{
    align-items: center;
}
.main{
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left:3rem;
    left:10vw;
}
.text1{
    
    
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size:1.3vw;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
}

.text2{
    font-family: 'IBM Plex Sans';
        font-style: normal;
        font-size: 1.3vw;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #F7797D 0%, #C471ED 52.08%, #12C2E9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.whitevariant{
    width: 3rem;

}
.Line{
    

}
.DITU{
width: 3rem;
}