.getApp {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8rem 0;
}

.getApp > img {
	width: 70%;
}

@media only screen and (max-width: 740px) {
	.getApp > img {
		width: 90%;
	}
}
