.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	position: fixed;
	top: 0;
	width: 100vw;
	padding-top: 0.5rem;
	z-index: 1000;
}

.navLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 8vw;
}

.navLeft > img {
	width: 4.5rem;
}

.navCenter {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.navCenter > p {
	font-style: normal;
	font-weight: 400;
	color: white;

	font-size: 1.4rem;
}

.navRight {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 8vw;
}

.navRight > img {
	width: 10rem;
}

.navHidden {
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.478);
}

.navMenu {
	display: none;
	padding-right: 2rem;
	justify-content: center;
	align-items: center;
}

.navMenu > img {
	width: 2rem;
}

.nameMenuOpen {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000000;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.445);
	backdrop-filter: blur(10px);
	transform: translateY(-100vh);
	transition: 0.3s ease-in;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navMenuOpenshow {
	transform: translateY(0);
	border-radius: 0;
}

.navMenuCloseButton {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.navMenuCloseButton > img {
	width: 2rem;
}

.mobileMenu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.mobileMenu > p {
	font-weight: 600;
	font-style: normal;
	font-size: 2rem;
	color: white;
	width: max-content;
	border-bottom: 2px solid transparent;
}

.mobileMenu > p .active {
	background: linear-gradient(90deg, #f7797d 0%, #c471ed 52.08%, #12c2e9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.mobileMenu > p:hover {
	border-bottom: 2px solid white;
	font-weight: 800;
}

@media only screen and (max-width: 1240px) {
	.navCenter {
		gap: 2.5rem;
	}
	.navLeft {
		padding-left: 2rem;
	}
	.navRight {
		padding-right: 2rem;
	}
}

@media only screen and (max-width: 935px) {
	.navCenter,
	.navRight {
		display: none;
	}
	.navMenu {
		display: flex;
	}
}

@media only screen and (max-width: 450px) {
	.navbar {
		height: 4rem;
	}
	.navLeft {
		padding-left: 1rem;
	}
	.navMenu {
		padding-right: 1rem;
	}
	.navLeft > img {
		width: 3.5rem;
	}
}
