.sponsors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;

	align-items: center;
	padding: 2rem;
	gap: 3rem;
}

.sponsors > p {
	color: white;
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 2.5rem;
}

.sponsors > div {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	align-items: center;
	width: 80vw;
}

.sponsors > div > div {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.sponsors > div > div > img {
	height: 4rem;
}

@media only screen and (max-width: 818px) {
	.sponsors > div {
		width: 95vw;
		grid-template-columns: repeat(2, 50%);
		row-gap: 3rem;
	}
	.sponsors > div > div > img {
		height: 3rem;
	}
}

@media only screen and (max-width: 425px) {
	.sponsors > div {
		grid-template-columns: repeat(2, 50%);
	}
}
